body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #39A900 0%, #007832 50%, #005c1e 100%);
    animation: gradiente-movimiento 5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradiente-movimiento {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.form-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 500px;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #00754A;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.boton {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #00754A;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.boton-guardar:hover {
    background-color: #005f3a;
}

.boton-cancelar:hover{
    background-color: #ce1616;
}
.cancelar {
    text-decoration: none;
    color: #666;
    padding: 10px 18px;
}

input#numero_id {
    background-color: #e2e2e28c;
    
}

@media (max-width: 600px) {
    .form-container {
        padding: 25px 20px;
    }

    h2 {
        font-size: 1.4rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    button {
        font-size: 0.95rem;
        padding: 10px;
    }
}

.boton-cancelar {
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid #ccc;
        color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    justify-content: end;
}